body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
    color: #fff;
}

.contenedor-central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.encabezado {
    text-align: center;
    padding: 10px 0;
    background-color: #ff6f61;
}

.encabezado img {
    max-width: 100px;
}

.contenedor {
    background-color: #4caf50;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #ffeb3b;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #2196f3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0d47a1;
}

#pie_pagina {
    background-color: #ff5252;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#pie_pagina h1 {
    margin: 0;
}
